@model CategoryDto

<div class="col-lg-6 mx-auto" style="font-size:15px">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                @if (Model.Id > 0)
                {
                    @Html.Raw("Kategori Düzenle")

                }
                else
                {
                    @Html.Raw("Kategori Ekle")
                }

            </h6>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Admin" asp-action="CategorySave" autocomplete="off">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="form-group">
                    <label for="exampleInputCategoryName">Kategori Adı</label>
                    <input type="text" class="form-control" id="exampleInputCategoryName" asp-for="Name" required value="@Model.Name" placeholder="Kategori Adını Giriniz">
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>

</div>